html, body {
  height: 100%;
  margin: 0;
}
body {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b, #fef4d5, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 100%;
 
}

#header {
  padding: 20px 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 96px;
  color:white;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  font-size: 68px;
  font-family: "Lato", sans-serif;
}
a{
    text-decoration: none;
    color:coral;
}
.buttons{
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.buttons:hover{
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    filter: blur(20px); 
    border-radius: 50%;
    opacity: 0.7;
}